/* --- Contenedor principal --- */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
    row-gap: 25px;
    column-gap: 5%;
    padding: 30px;
    justify-items: center;
    margin-top: 20px;
}

/* --- Tarjeta de producto --- */
.card {
    background-color: #ffffff;
    border-radius: 30px;
    overflow: hidden;
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

section {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/*  --- Imagen del producto --- */
.card img {
    width: 300px;
    height: 220px;
    object-fit: contain;
    border-radius: 10px;
}

/*  --- Texto y contenido --- */
.card h2 {
    font-size: 1.1rem;
    margin: 10px 0 5px 0;
    color: #222;
}

.card p {
    font-size: 15px;
    color: #555;
    padding: 0 10px;
    flex-grow: 1;
}

.card span {
    display: block;
    font-weight: bold;
    color: #004aad;
    margin-bottom: 10px;
}

/* --- Botón "Ver más" --- */
.card a {
    display: inline-block;
    background-color: #004aad;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 12px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #0072ff;
}

.no-results {
    color: white;
    text-align: center;
    width: 100%;
    grid-column: 1 / -1;
}